* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma;
}

header {
  background-color: rgb(156,218,247);
}

.navigation {
  display: inline-block;
  width: 150px;
  height: 70px;
  position: relative;
  left: 25px;
  margin: 10px 25px;
  padding: 20px;
}

a {
  font-size: 30px;
  font-weight: 700;
}

#front {
  position: relative;
  left: 100px;
  top: 50px;
}

#maplabel {
  text-align: center;
  font-size: 40px;
  position: relative;
  top: 100px;
}

#map {
  position: relative;
  left: 25px;
  top: 100px;
}

.rightText {
  position: relative;
  left: 1000px;
  bottom: 400px;
  font-size: 30px;
  font-weight: 700;
  width: 150px;
}

.locs {
  position: relative;
  bottom: 330px;
  left: 700px;
  font-weight: 400;
  font-size: 24px;
  width: 700px;
}

.fieldsTwo {
  position: relative;
  left: 25px;
  top: 50px;
  border: 3px solid black;
}

.ratingsTwo {
  position: relative;
  bottom: 400px;
  left: 700px;
  font-weight: 700;
  font-size: 30px;
  width: 500px;
}

.reedD {
  position: relative;
  bottom: 375px;
  left: 700px;
  font-weight: 400;
  font-size: 24px;
  width: 700px;
}

.avenelF {
  position: relative;
  left: 25px;
  bottom: 250px;
  border: 3px solid black;
}

.avenelR {
  position: relative;
  bottom: 700px;
  left: 700px;
  font-weight: 700;
  font-size: 30px;
  width: 500px;
}

.avenelD {
  position: relative;
  bottom: 675px;
  left: 700px;
  font-weight: 400;
  font-size: 24px;
  width: 700px;
}

.francisF {
  position: relative;
  left: 25px;
  bottom: 550px;
  border: 3px solid black;
}

.francisR {
  position: relative;
  bottom: 1000px;
  left: 700px;
  font-weight: 700;
  font-size: 30px;
  width: 500px;
}

.francisD {
  position: relative;
  bottom: 975px;
  left: 700px;
  font-weight: 400;
  font-size: 24px;
  width: 700px;
}

.hardyF {
  position: relative;
  left: 25px;
  bottom: 865px;
  border: 3px solid black;
}

.hardyR {
  position: relative;
  bottom: 1315px;
  left: 700px;
  font-weight: 700;
  font-size: 30px;
  width: 500px;
}

.hardyD {
  position: relative;
  bottom: 1290px;
  left: 700px;
  font-weight: 400;
  font-size: 24px;
  width: 700px;
}

.hearstF {
  position: relative;
  left: 25px;
  bottom: 1180px;
  border: 3px solid black;
}

.hearstR {
  position: relative;
  bottom: 1630px;
  left: 700px;
  font-weight: 700;
  font-size: 30px;
  width: 500px;
}

.hearstD {
  position: relative;
  bottom: 1605px;
  left: 700px;
  font-weight: 400;
  font-size: 24px;
  width: 700px;
}

.jelleffF {
  position: relative;
  left: 25px;
  bottom: 1520px;
  border: 3px solid black;
}

.jelleffR {
  position: relative;
  bottom: 1970px;
  left: 700px;
  font-weight: 700;
  font-size: 30px;
  width: 500px;
}

.jelleffD {
  position: relative;
  bottom: 1945px;
  left: 700px;
  font-weight: 400;
  font-size: 24px;
  width: 700px;
}

.linwayF {
  position: relative;
  left: 25px;
  bottom: 1865px;
  border: 3px solid black;
}

.linwayR {
  position: relative;
  bottom: 2315px;
  left: 700px;
  font-weight: 700;
  font-size: 30px;
  width: 500px;
}

.linwayD {
  position: relative;
  bottom: 2290px;
  left: 700px;
  font-weight: 400;
  font-size: 24px;
  width: 700px;
}

.palisadesF {
  position: relative;
  left: 25px;
  bottom: 2165px;
  border: 3px solid black;
}

.palisadesR {
  position: relative;
  bottom: 2615px;
  left: 700px;
  font-weight: 700;
  font-size: 30px;
  width: 500px;
}

.palisadesD {
  position: relative;
  bottom: 2590px;
  left: 700px;
  font-weight: 400;
  font-size: 24px;
  width: 700px;
}


h2 {
  position: relative;
  top: 50px;
  left: 25px;
  width: 600px;
}

#projectDescription {
  position: relative;
  top: 50px;
  left: 25px;
  width: 600px;
  font-size: 24px;
}

#ratingDescription {
  position: relative;
  top: 50px;
  left: 25px;
  width: 600px;
  font-size: 24px;
}

.dreamHeader {
  position: relative;
  left: 700px;
  bottom: 455px;
  font-size: 30px;
  font-weight: 700;
  width: 300px;
}

#jul {
  position: relative;
  left: 700px;
  bottom: 440px;
}

#jim {
  position: relative;
  left: 725px;
  bottom: 470px;
}



/*
.fields {
  position: relative;
  left: 25px;
  top: 50px;
  border: 3px solid black;
}*/

/*
.ratings {
  position: relative;
  bottom: 400px;
  left: 700px;
  font-weight: 700;
  font-size: 30px;
  width: 500px;
  border: 3px solid black;
}*/

/*.descriptor {
  position: relative;
  bottom: 375px;
  left: 700px;
  font-weight: 400;
  font-size: 24px;
  width: 700px;
  border: 3px solid black;
}
*/

/*.descriptorTwo {
  position: relative;
  bottom: 775px;
  left: 700px;
  font-weight: 400;
  font-size: 24px;
  width: 700px;
  border: 3px solid black;
}*/
