* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma;
}

header {
  background-color: rgb(156,218,247);
  border: 3px solid coral;
}

.navigation {
  display: inline-block;
  border: 3px solid white;
  width: 150px;
  height: 70px;
  position: relative;
  left: 25px;
  margin: 10px 25px;
  padding: 5px;
}

a {
  font-size: 30px;
  font-weight: 700;
}

#front {
  position: relative;
  left: 100px;
  top: 50px;
  border: 3px solid black;
}

h2 {
  text-align: center;
  font-size: 40px;
  position: relative;
  top: 50px;
  border: 3px solid black;
}

#map {
  position: relative;
  left: 25px;
  top: 50px;
  border: 3px solid black;
}

#loc {
  position: relative;
  left: 1025px;
  bottom: 467px;
  font-size: 30px;
  font-weight: 700;
}

li {
  position: relative;
  bottom: 450px;
  left: 725px;
  font-weight: 400;
  font-size: 24 px;
}

.fields {
  position: relative;
  left: 50px;
}
