* {
  box-sizing: border-box;
}

* {
  font-family: Helvetica;
}

header {
  background-color: rgb (90, 181, 242);
}

h1 {
  display: inline-block;
  position: relative;
  left: 50px;
  width: 200px;
}

#title {
  border: 3px solid white;
  border-radius: 10px;
  position: relative;
  bottom: 600px;
  left: 950px;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 40px;
}
